/*
- HEADER
- HEADER TOP
 */

/** HEADER */
.header-nav .col-md-5 #_desktop_user_info,.header-nav .col-md-5 #_desktop_cart, .header-nav .col-md-7 #_desktop_language_selector, .header-nav .col-md-7 #_desktop_user_info {
    display: none;
}

.header-nav .language-selector .expand-more img {
    width: 25px;
}

.header-nav .col-md-7 #_desktop_cart {
    text-transform: uppercase;
    border: 2px #ded3aa solid;
    padding: 10px 30px;
}

.header-nav .col-md-7 #_desktop_cart .cart-preview {
    background-color: unset;
    padding: unset;
    margin: unset;
    height: auto;
}

.header-nav .col-md-7 .logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    align-self: center;
}

#header .header-nav .right-nav {
    justify-content: space-between;
}

#header .header-nav {
    max-height: unset;
    height: 90px;
    display: flex;
    align-items: center;
}

/** HEADER TOP*/
#header .header-top .position-static {
    display: flex;
    justify-content: space-between;
}

#header .header-top #_desktop_top_menu {
    height: 24px;
    color: #000000;
}

#header #_desktop_top_menu .dropdown-item {
    color: #000000;
}